@font-face {
    font-family: 'merchant';
    src: url('./assets/merchant-double.ttf') format('truetype');
}

canvas {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(164, 139, 139);
    font-family: "merchant", sans-serif;
    overflow: hidden;
    background-color: #000;
}

h1 {

    margin: 20px 0;
    text-align: center;
}

.canvas-container {
    width: 100%;
    flex: 1;
    background-color: rgba(0, 0, 0, 0);
}



.footer {

    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer p,
.footer a {
    margin: 0;
    color: inherit;
    text-decoration: none;
}

.parallax-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('assets/minwwalker-background.jpg');
    background-size: cover;
    background-position: center;
    will-change: transform;
    transform: scale(1.1);
    transform-origin: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
